-- Example 0
2
CBA
DDD

21
-- Example 1
1
Z

25
-- Example 2
6
A
B
C
D
E
F

30
-- Example 3
6
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ

4290
-- Example 4
1
ZZZZZZZZZZ

295
