-- Example 0
I ENIL SIHTHSIREBBIG S

THIS LINE IS GIBBERISH
-- Example 1
LEVELKAYAK

LEVELKAYAK
-- Example 2
H YPPAHSYADILO

HAPPY HOLIDAYS
-- Example 3
ABCDEFGHIJKLMNOPQRSTUVWXYZ

MLKJIHGFEDCBAZYXWVUTSRQPON
-- Example 4
RUT OWT SNEH HCNERF EERHTEGDIRTRAP A DNA  SEVODELT

THREE FRENCH HENS TWO TURTLEDOVES  AND A PARTRIDGE
