-- Example 0
5
X....X
X.XX.X
...X..
X.XX.X
..X...
3

2
-- Example 1
7
...X...
.X...X.
..X.X..
X..X..X
..X.X..
.X...X.
...X...
3

6
-- Example 2
15
.....X....X....
.....X....X....
..........X....
....X....X.....
...X....X....XX
XXX...X....X...
.....X....X....
.......X.......
....X....X.....
...X....X...XXX
XX....X....X...
.....X....X....
....X..........
....X....X.....
....X....X.....
5

8
-- Example 3
3
...
...
...
50

0
-- Example 4
3
....
....
....
3

0
