-- Example 0
LOVE
3
JACOB
FRANK
DANO

FRANK
-- Example 1
JANE
4
THOMAS
MICHAEL
INDY
LIU

INDY
-- Example 2
LILLY
1
PIERRE

PIERRE
-- Example 3
MERYLOV
5
JOHN
DAVE
STEVE
JOHN
DAVE

DAVE
-- Example 4
LLOL
4
BVERON
CVERON
AVERON
DVERON

AVERON
-- Example 5
VELYLEOCEVE
5
YVXHOVE
LCOKO
OGWSJVEVEDLE
WGFVSJEL
VLOLUVCBLLQVESWHEEKC

VLOLUVCBLLQVESWHEEKC
