-- Example 0
1
Justin
1
PAAPP

1
Justin
-- Example 1
2
Justin
Chris
2
PAAPP
PPPPA

1
Justin
-- Example 2
1
Sunny
1
PPPAM

0
-- Example 3
4
Mansi
Arjun
Nikhil
Taneja
4
PPPPMPPAPP
AAMAAPP
PPPPAAP
PPPAAAMPP

3
Arjun
Nikhil
Taneja
-- Example 4
0
0

0
