-- Example 0
4
RODDICK
SCHUETTLER
FERREIRA
AGASSI
4
SCHUETTLER
AGASSI
AGASSI


4
AGASSI
SCHUETTLER
FERREIRA
RODDICK
-- Example 1
8
DUKE
SETON HALL
ILLINOIS
CINCINNATI
NORTH CAROLINA
TEXAS
XAVIER
MISSISSIPPI STATE
8

DUKE
DUKE
ILLINOIS
TEXAS
XAVIER
DUKE
XAVIER

8
DUKE
XAVIER
ILLINOIS
TEXAS
SETON HALL
MISSISSIPPI STATE
CINCINNATI
NORTH CAROLINA
-- Example 2
2
JAVA
VISUAL BASIC
2
VISUAL BASIC


2
VISUAL BASIC
JAVA
