-- Example 0
This cheese is really great!!!!!

This cheese is really great!
-- Example 1
You really like THIS cheese!?!?!?!!!?

You really like THIS cheese?
-- Example 2
 !!?X! ?? This is delicious!!! ??!a!?!

 ?X! ? This is delicious! ?a?
