-- Example 0
The fox jumps to the dog

nagjujumps ang fox sa dog
-- Example 1
tomek codes

nagcocodes si tomek
-- Example 2
tHe mAn plAyEd ThE pIAnO

nagplAy ang mAn ng pIAnO
-- Example 3
Bob will Filed the taxes

magFiFiled si Bob ng taxes
-- Example 4
Matthew walked to Mathew

nagwalk si Matthew kay Mathew
-- Example 5
StrongBad kicked TheCheat

nagkick si StrongBad ni TheCheat
