-- Example 0
This is a dancing sentence

ThIs Is A dAnCiNg SeNtEnCe
-- Example 1
 This   is         a  dancing   sentence  

 ThIs   Is         A  dAnCiNg   SeNtEnCe  
-- Example 2
aaaaaaaaaaa

AaAaAaAaAaA
-- Example 3
z

Z
